<ion-view view-title="EAT">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-funnel" ng-click="goBack()">
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false" overflow-scroll="true" style="height:40vh;" id="mapContent">
    <!--<div id="googleMap"></div>-->
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="mapOptions" control="map.control">
      <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
        <ui-gmap-windows show="show">
          <div ng-non-bindable>{{title}}</div>
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </ion-content>
  <ion-content load-content>
    <ion-list ng-show="ShowCategories">
      <ion-item ng-repeat="Category in data" class="item-thumbnail-left" ng-click="openList($index,Category.id)">
        <img src="{{Category.logo | MainImages}}"/>
        <h2>{{Category.name}}</h2>
      </ion-item>
    </ion-list>
    <ion-list ng-show="ShowSubCategories">
      <ion-item ng-repeat="Category in SubCategories[SubCatIndex]" class="item-thumbnail-left"
                ng-click="manageSubCategory(Category.id,Category.subcategory)">
        <img src="{{Category.logo | MainImages}}"/>

        <h2>{{Category.name}}</h2>
      </ion-item>
    </ion-list>
    <ion-list ng-show="ShowHotelList">
      <ion-item ng-repeat="Hotel in HotelList[0].data" class="item-complex" ng-click="showDetails(Hotel.establishid)">
        <div class="row" style="padding-bottom: 0px;">
          <div class="col col-20">
            <img src="{{Hotel.logo | MainImages}}" style="width:100%;height:100px;"/>
          </div>
          <div class="col col-80">
            <div class="row row-no-padding">
              <div class="col">
                <h2>{{Hotel.businessname}}</h2>

                <p style="white-space: normal;">{{Hotel.address}},{{Hotel.city}},{{Hotel.state}}</p>
              </div>
              <div class="col col-25">
                <p style="text-overflow: none;">{{Hotel.distance}} mi.</p>
                <p style="text-align: right;"><i class="ion-ios-arrow-right" style="font-size:2em;"></i></p>
              </div>
            </div>

          </div>
        </div>
        <!--<img src="{{Hotel.logo | MainImages}}"/>-->
        <!--<h2>{{Hotel.businessname}}</h2>-->
        <!--<p>{{Hotel.address}},{{Hotel.city}},{{Hotel.state}}</p>-->

        <!--<p>{{Hotel.distance}} mi.</p>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
