<ion-view view-title="{{businessName}}" cache-view="false">
  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button button-icon  button-clear ion-home" ng-click="goHome()">-->
    <!--</button>-->
    <!--<button class="button button-icon button-clear ion-android-arrow-back" ng-click="Back()">-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-icon button-clear ion-ios-navigate-outline" ng-click="navigate()">-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
  <ion-content>
    <!--<ion-list>-->
    <!--<ion-item class="item-divider">-->
    <!--<h2 class="title">{{dealDetail.name}}</h2>-->
    <!--</ion-item>-->
    <!--</ion-list>-->
    <div class="card">
      <div class="item item-divider item-text-wrap">
        {{dealDetail.name}} at {{businessName}}
      </div>
      <div class="item item-text-wrap" ng-bind-html="dealDetail.description">
        {{dealDetail.description}}
      </div>
      <div class="item item-divider item-text-wrap">
        Deal Validity : {{startDateTime |date:'MMMM, dd hh:mm a'}} - {{endDateTime|date:'MMMM, dd hh:mm a'}}
      </div>
      <div class="item item-icon-left positive" ng-click="goToEstablishment(dealDetail.es_id)">
        <i class="icon ion-information-circled"></i>
        Get More Information
      </div>
    </div>
  </ion-content>
</ion-view>
