<ion-view view-title="{{businessName}}" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="Back()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-navigate-outline" ng-click="navigate()">
    </button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Info" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
      <ion-content scroll="false" overflow-scroll="true" style="height:40vh;" id="mapContent">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" refresh="true">
          <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
            <ui-gmap-windows show="show">
              <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </ion-content>
      <ion-content load-content>
        <div class="row">
          <div class="col col-75">
            <div class="row row-no-padding">
              <div class="col">
                <h4>Address</h4>

                <p ng-bind-html="fullAddress"></p>
              </div>
            </div>
            <div class="row row-no-padding">
              <div class="col">
                <h4>Website</h4>

                <p><a href="{{EstablishData.website}}">{{EstablishData.website}}</a></p>
              </div>
            </div>
          </div>
          <div class="col col-25">
            <img src="{{EstablishData.logo | MainImages}}" style="height:100%;width:100%;float:right"/>
          </div>
        </div>

        <div class="row" ng-repeat="(key,value) in dataArr">
          <div class="col" style="padding-bottom: 0px;padding-top:0px;">
            <h4>{{key}}</h4>

            <p ng-bind-html="EstablishData[value]" style="margin-bottom:5px;">{{value}}</p>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="Photos" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ng-click="createModal()">
      <ion-content has-header has-sub-header class="has-header" style="top:44px;">
        <!--<img collection-repeat="photo in Gallery"-->
        <!--item-height="33%" item-width="33%"-->
        <!--ng-src="{{photo | MainImages}}" style="margin-bottom: 10px;">-->
        <div class="row" ng-repeat="photo in Gallery" ng-if="$index%3==0">
          <div class="col col-33" ng-if="Gallery[$index]">
            <img src="{{Gallery[$index] | MainImages}}" style="height:100%;width:100%;"
                 ng-click="loadFullScreen($index)"/>
          </div>
          <div class="col col-33" ng-if="Gallery[$index+1]">
            <img src="{{Gallery[$index+1] | MainImages}}" style="height:100%;width:100%;"
                 ng-click="loadFullScreen($index+1)"/>
          </div>
          <div class="col col-33" ng-if="Gallery[$index+2]">
            <img src="{{Gallery[$index+2] | MainImages}}" style="height:100%;width:100%;"
                 ng-click="loadFullScreen($index+2)"/>
          </div>
        </div>

      </ion-content>
    </ion-tab>

    <ion-tab title="Menu" icon-on="ion-android-restaurant" icon-off="ion-android-restaurant">
      <ion-content has-header has-sub-header class="has-header" style="top:44px;">
        <img collection-repeat="photo in MenuImages"
             item-height="50%" item-width="50%"
             ng-src="{{photo | MainImages}}" style="margin-bottom: 10px;">
      </ion-content>
    </ion-tab>
    <ion-tab ng-click="callNow(EstablishData.contact)" title="Call" icon-on="ion-ios-telephone"
             icon-off="ion-ios-telephone-outline"
             ng-href="tel: {{EstablishData.contact}}">
      <!-- Tab 3 content -->
    </ion-tab>
  </ion-tabs>
  <script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent">
      <div class="CloseBtn GalleryClose ion-close" ng-click="CloseModal()"></div>
      <ion-slide-box show-pager="true">
        <ion-slide ng-repeat="oImage in Gallery">
          <img src="{{oImage | MainImages}}" class="fullscreen-image"/>
        </ion-slide>
      </ion-slide-box>
    </div>
  </script>

</ion-view>
