<div class="modal" style="background-color: black;">
  <ion-header-bar class="bar-clear">
    <h1 class="title">{{businessName}} - Gallery</h1>
    <button class="button button-stable button-outline" ng-click="CloseModal()">Close</button>
  </ion-header-bar>
  <content has-header="true" padding="true">
    <ion-slide-box>
      <ion-slide class="items" ng-repeat="oImage in GalleryFull" style="top:44px;height:100vh;">
        <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" min-zoom="1" zooming="true"
                    style="top:auto;position:relative;height:90%;" overflow-scroll="false">
          <div class="row">
            <div class="col col-center">
              <img ng-src="{{oImage | MainImages}}" style="width:100%;" class="image"/>
            </div>
          </div>
        </ion-scroll>
      </ion-slide>
    </ion-slide-box>
  </content>
</div>
