<ion-view view-title="{{eventName}}" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="Back()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-navigate-outline" ng-click="navigate()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row row-no-padding" style="height:35vh;">
      <div class="col eventPhoto" style="background: url('{{eventDetail.logo |ThumbnailImages}}') no-repeat;">
        <div class="row" style="bottom:0;position:absolute;background: linear-gradient(0deg,rgba(242, 242, 242, 0.95) 0,rgba(0,0,0,0) 100%);
    height:30%;">
          <div class="col">
            <div class="button-bar" style="bottom:10px;">
              <button class="button button-icon icon button-outline button-dark ion-ios-telephone" ng-click="callNow()"></button>
              <button class="button button-icon icon button-outline button-dark ion-android-hangout" ng-click="openEventLink()"></button>
              <button class="button button-icon icon button-outline button-dark ion-android-globe" ng-click="openWebLink()"></button>
              <button class="button button-icon icon button-outline button-dark ion-android-alarm-clock" ng-click="createEvent()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-no-padding">
      <div class="col">
        <div class="eventHeader">
          <div class="eventTitle">{{eventDetail.eventName}}</div>
          <div class="row row-no-padding eventType">
            <div class="col" ng-if="eventDetail.startDate!==eventDetail.endDate">
              {{eventDetail.eventType}} Entry | {{startDateTime |date:'MMMM, dd hh:mm a'}} - {{endDateTime
              |date:'MMMM, dd hh:mm a'}}
            </div>
            <div class="col" ng-if="eventDetail.startDate==eventDetail.endDate">
              {{eventDetail.eventType}} Entry | {{startDateTime |date:'MMMM, dd hh:mm a'}} - {{endDateTime |
              date:'hh:mm a'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-no-padding">
      <div class="col">
        <div class="card">
          <div ng-repeat="(key,value) in eventFinalData">
            <div class="item item-divider">
              {{key}}
            </div>
            <div class="item item-text-wrap" ng-bind-html="eventDetail[value]">

            </div>
            <!--<div class="item item-divider">-->
            <!--Description-->
            <!--</div>-->
            <!--<div class="item item-text-wrap" ng-bind-html="eventDetail.description">-->

            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
