<ion-view cache-view="false">
  <div class="bar bar-header bar-clear"
       style="height:20vh; padding:0px; background: url('img/headerImageNew.jpg') no-repeat;background-size: 100% 100%;">
    <div class="row row-no-padding">
      <div class="col col-33 col-center">
        <img src="img/logo.png" style="width:100%; height:100%; padding:0px 10px 0px;"/>
      </div>
      <div class="col col-66 col-center">
        <h4 style="color: white;font-size:1.75em;">Delray Beach Insider</h4>
      </div>
    </div>
  </div>
  <ion-content class="homePageBackground" scroll="false">
    <div class="row row-no-padding homeRow" ng-repeat="Icon in HomeIcons" ng-if="$index%4 ==0">
      <div class="col">
        <div class="row row-no-padding" ng-click="goToCategory(HomeIcons[$index].name,HomeIcons[$index].cat_id)">
          <div class="col">
            <img src="{{HomeIcons[$index].logo | ImageLink}}" class="homeIcons"/>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col" style="font-size: 0.89em;">
            {{HomeIcons[$index].name}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-no-padding" ng-click="goToCategory(HomeIcons[$index+1].name,HomeIcons[$index+1].cat_id)">
          <div class="col">
            <img src="{{HomeIcons[$index+1].logo | ImageLink}}" class="homeIcons"/>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col" style="font-size: 0.89em;">
            {{HomeIcons[$index+1].name}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-no-padding" ng-click="goToCategory(HomeIcons[$index+2].name,HomeIcons[$index+2].cat_id)">
          <div class="col">
            <img src="{{HomeIcons[$index+2].logo | ImageLink}}" class="homeIcons"/>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col" style="font-size: 0.89em;">
            {{HomeIcons[$index+2].name}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-no-padding" ng-click="goToCategory(HomeIcons[$index+3].name,HomeIcons[$index+3].cat_id)">
          <div class="col">
            <img src="{{HomeIcons[$index+3].logo | ImageLink}}" class="homeIcons"/>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col" style="font-size: 0.89em;">
            {{HomeIcons[$index+3].name}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
